html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

p {
  margin-top: 20px;
  position: absolute;
  top: 10%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(
    -50%,
    -50%
  ); /* This is a shorthand of
                                       translateX(-50%) and translateY(-50%) */

  padding: 15px;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  color: aliceblue;
  background-color: transparent;
}

html {
  background-color: black;
}
